.Characteristics-list{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.picture{
    object-fit: contain;
    width: 270px;
    height: 360px;
}

.Characteristics, .bannedTraits{
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin:10px;
}

.Characteristics{
     background-color: rgb(146, 236, 215);
}

.bannedTraits{
    background-color: rgb(255, 163, 176);
}

